<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <charset>UTF-8</charset>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="/data/logs/management/management.log"
                     filePattern="/data/logs/management/management-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout>
                <charset>UTF-8</charset>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <!--每个文件最大30M-->
                <SizeBasedTriggeringPolicy size="30M"/>
            </Policies>
            <!--<DefaultRolloverStrategy max="50"/>，如果不做配置，默认是7，这个7指的是上面i的最大值，超过了就会覆盖之前的,即每天最多50个文件，每个文件最大30M-->
            <DefaultRolloverStrategy max="50">
                <!--删除/data/logs/management/目录下例如:management-2017-12-14.1.log的日志，只保留最近7天的日志-->
                <!--maxDepth default is 1, meaning only the files in the specified base directory-->
                <Delete basePath="/data/logs/management/" maxDepth="1">
                    <IfFileName glob="management-*.log"/>
                    <!--只保留最近7天的日志-->
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </appenders>
    <loggers>
        <Root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </Root>
    </loggers>
</configuration>