<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zydcompany.management.mapper.SystemUserMapper">

    <resultMap id="SystemUserDoMap" type="com.zydcompany.management.domain.model.SystemUserDo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="age" jdbcType="TINYINT" property="age"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <select id="getSystemUserDoById" resultMap="SystemUserDoMap" parameterType="java.math.BigInteger">
        select
        id,
        gmt_create,
        gmt_modified,
        name,
        password,
        age,
        sex,
        mobile,
        birthday,
        address
        from management_system_user
        where id = #{id}
    </select>

    <select id="getSystemUserDoByMobile" resultMap="SystemUserDoMap" parameterType="java.math.BigInteger">
        select
        id,
        gmt_create,
        gmt_modified,
        name,
        password,
        age,
        sex,
        mobile,
        birthday,
        address
        from management_system_user
        where mobile = #{mobile}
    </select>

    <insert id="saveSystemUserDo" parameterType="com.zydcompany.management.domain.model.SystemUserDo">
        insert into management_system_user
        (
        gmt_create,
        gmt_modified,
        name,
        password,
        age,
        sex,
        mobile,
        birthday,
        address
        )
        values
        (
        now(),
        now(),
        #{name},
        #{password},
        #{age},
        #{sex},
        #{mobile},
        #{birthday},
        #{address}
        )

    </insert>

    <!-- <update id="updateSystemUserDo" parameterType="map">-->
    <update id="updateSystemUserDo">
        update management_system_user
        <set>
            <if test="address != null">
                address = #{address}
            </if>
            gmt_modified = #{gmt_modified}
        </set>
        where id =#{id}
    </update>


</mapper>